@import "tailwindcss";
@import "../styles/variables.css";

@layer base {
    * {
        border-color: var(--border);
    }

    body {
        background-color: var(--background);
        color: var(--foreground);
        font-family: var(--font-geist-sans);
    }
}
